/*General*/
body.ng-scope {
  background-color: #f5f5f5;
}
/*Logo*/
.logo{
  float: left;
  padding: 10px 10px 0px 10px;
  font-size: 21px;
  color:#000000;
}
img.owl-logo {
  width: 32px;
}

/*Navigation*/
.mui-appbar.mui--appbar-line-height{
  background-color:#FFFFFF;
}

.nav{
  float: right;
}

.login img, .login{
  margin: auto;
  width:300px;
}

#sideMenu{
  width: 20%;
  height: 100%;
  float: left;
}

#chatBox{
  width: 80%;
  float: left;
}

/*Home*/
h1.home-title{
  text-align: center;
}
.mui--text-display3 {
  font-family: times;
}
.mui-container.mui--text-center.ng-scope {
  height: 500px;
}
img.owl-home {
  width: 137px;
}

/*Login*/
.login.ng-scope {
  text-align:center;
}
h1.login-title {
  font-family: sans-serif;
  font-weight: lighter;
}
.contacts{
  background-color: #e6faff;
  /*border-style: solid;*/
}

.nonBodyText{
  color: grey;
}

.bubble{
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    width: 80%;
}

.You{
  background-color: #b3d9ff;
}

.notYou{
  background-color: #F2F2F2;
}

.bubble::before {
    /*background-color: #F2F2F2;*/
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.userpic {
  width: 50px;
  height: 50px;
}

[scroll-glue]{
  height: 400px;
  overflow: scroll;
}

.deleteContact{
  float: right;
  margin: auto;
}
