
/*Logo*/
.logo{
  float: left;
  padding: 10px 10px 0px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-color:#000000;
}

/*Navigation*/
.mui-appbar.mui--appbar-line-height{
  background-color:#FFFFFF;
}

.nav{
  float: right;
}

.login img, .login{
  margin: auto;
  width:300px;
}

#sideMenu{
  width: 20%;
  height: 100%;
  float: left;
}

#chatBox{
  width: 80%;
  float: left;
}

.contacts{
  background-color: #e6faff;
}

.nonBodyText{
  color: grey;
}

.bubble{
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    width: 80%;
}

.You{
  background-color: #b3d9ff;
}

.notYou{
  background-color: #F2F2F2;
}

.bubble::before {
    /*background-color: #F2F2F2;*/
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.userpic {
  width: 50px;
  height: 50px;
}

[scroll-glue]{
  height: 400px;
  overflow: scroll;
}
