<div class="group-list">

  <form ng-submit="addGroup(newFriend)">
    <input type="text" ng-model="newFriend" placeholder="Add A Friend" />
    <input type="submit" value="Add" ng-click="addGroup(newFriend)"/>
  </form>

  <input type="text" ng-model="searchContacts" placeholder="Search your contacts" class="">

  <div ng-init="getAllContacts()" ng-repeat="contact in contacts | filter:searchBox | orderBy: 'isActive'">
    <contactsingle name="{{contact.name}}" status="{{contact.isActive}}" channel="{{contact.channel}}"></contactsingle>
    <button ng-click="deleteContact()">Delete</button>
    <button ng-click="AddContactToGroup()">Add</button>
    <hr>
  </div>

</div>
