<div class="group-list">
  <button ng-click="showGroup()">Create Group</button>
    <div ng-show="click">
      <input type="text" ng-model="addGroupNames" placeholder="Group Name">
      <br>
      <div>
        {{addGroupNames}}
        {{groupFriends}}
      </div>
      <input type="text" ng-model="searchContactsBox" placeholder="Search your contacts">
      <br>
      <br>
      <div class="groupFriends" ng-init="findContacts()" ng-repeat="searchGroupFriend in searchGroupFriends | filter:searchContactsBox | orderBy: 'isActive'">
      <groupsingle name="{{searchGroupFriend.name}}" status="{{searchGroupFriend.isActive}}" channel="{{searchGroupFriend.channel}}"></groupsingle>
        <button ng-click="createGroup(searchGroupFriend.name)">Add</button>
      </div>
    <div>
</div>
