<div class="chat-form" ng-init="getCommands()">
  <form class="form-inline" ng-submit="sendMessage()" class="mui-container">
    <div class="form-group">
      <input style="width:70%" ng-model="messageText" type="text" placeholder="Send a hoot!" uib-typeahead="command.name for command in matchCommand($viewValue)" typeahead-on-select="onSelect($item)" typeahead-select-on-exact="true" required>
      <img ng-click="startTalking()" src="//i.imgur.com/cHidSVu.gif" style="width:35px; height:35px"/>
      <span><button style="" type="submit" class="btn btn-default">+</button></span>
    </div>
  </form>
  <form class="foorm" enctype="multipart/form-data" ng-submit="getMedia()">
    <input type="file" name="displayImage">
    <input type="submit">
  <form class="talk" method="get" action="https://www.google.com/search">
    <div class="speech">
    </div>
  </form>
  </form>
</div>
