<header id="home">
  <section>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center inner">
        <div class="mui-container mui--text-center">
          <br>
          <img src="/app/images/littleOwls.png" class="owl-home">
          <div class="mui--text-display3"><h1 class="home-title">HOOT</h1></div>
          <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
       <a href="#/login" class="learn-more-btn">Get Started</a>
      </div>
    </div>
  </div>
  </section>
  </header>
  <section class="features text-center section-padding" id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="arrow"></h1>
          <div class="features-wrapper">
            <div class="col-md-4">
              <div class="icon">
                <i class="fa fa-laptop shadow"></i>
              </div>
              <h2>Chat with you friends</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
              primis in faucibus.</p>
            </div>
            <div class="col-md-4">
              <div class="icon">
                <i class="fa fa-code shadow"></i>
              </div>
              <h2>Create your own functionality</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
              primis in faucibus.</p>
            </div>
            <div class="col-md-4">
              <div class="icon">
                <i class="fa fa-heart shadow"></i>
              </div>
              <h2>Shop or browse the web at the same time</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
              primis in faucibus.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-center" id="responsive">
    <div class="container-fluid nopadding responsive-services">
      <div class="wrapper">
        <div class="iphone">
        </div>
        <div class="fluid-white"></div>
      </div>
      <div class="container designs">
        <div class="row">
          <div class="col-md-5 col-md-offset-7">
            <div id="servicesSlider">
              <ul class="slides">
                <li>
                  <h1 class="arrow">Hoot Hoot Mobile</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero. </p>
                  <p>
                  Mauris ultrices odio vitae nulla ultrices iaculis. Nulla rhoncus odio eu lectus faucibus facilisis. Maecenas ornare augue vitae sollicitudin accumsan. </p>
                  <p>Etiam eget libero et erat eleifend consectetur a nec lectus. Sed id tellus lorem. Suspendisse sed venenatis odio, quis lobortis eros.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="swag text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Connect<span> <em>Chat</em> & Call</span></h1>
          <a href="#portfolio" class="down-arrow-btn"><i class="fa fa-chevron-down"></i></a>
        </div>
      </div>
    </div>
  </section>
  <div class="ignite-cta text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a href="#" class="ignite-btn">Ignite</a>
        </div>
      </div>
    </div>
  </div>
  <section class="team text-center section-padding" id="team">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="arrow">The Team & The Stack</h1>
        </div>
      </div>
      <div class="row">
        <div class="team-wrapper">
          <div id="teamSlider">
            <ul class="slides">
              <li>
                <div class="col-md-4 team">
                  <img src="app/images/nahee.jpg" alt="Team Member">
                  <h2>Nahee Kwak</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                  <div class="social">
                    <ul class="social-buttons">
                      <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                      <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4 team">
                  <img src="app/images/jeff.jpeg" alt="Team Member">
                  <h2>Jeff Lam</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                  <div class="social">
                    <ul class="social-buttons">
                      <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                      <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4 team">
                  <img src="app/images/forrest.jpeg" alt="Team Member">
                  <h2>Forrest Labrum</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                  <div class="social">
                    <ul class="social-buttons">
                      <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                      <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <div class="col-md-4 team">
                  <img src="app/images/chris.png" alt="Team Member">
                  <h2>Chris Heo</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                  <div class="social">
                    <ul class="social-buttons">
                      <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                      <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4">
                  <img src="app/images/angular.png" class="stack">
                </div>
                <div class="col-md-4">
                  <img src="app/images/mysql.png" class="stack">
                </div>
                <div class="col-md-4">
                  <img src="app/images/sequelize.png" class="stack">
                </div>
                <div class="col-md-4">
                  <img src="app/images/nodeJS.png" class="stack">
                </div>
                <div class="col-md-4">
                  <img src="app/images/express.png" class="stack">
                </div>
                <div class="col-md-4">
                  <img src="app/images/materialize.png" class="stack">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="subscribe text-center">
    <div class="container">
      <h1><i class="fa fa-paper-plane"></i><span>Subscribe to stay in the loop</span></h1>
      <form action="#">
        <input type="text" name="" value="" placeholder="" required>
        <input type="submit" name="" value="Send">
      </form>
    </div>
  </section>
  <section class="dark-bg text-center section-padding contact-wrap" id="contact">
    <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="arrow">Drop us a line</h1>
        </div>
      </div>
      <div class="row contact-details">
        <div class="col-md-4">
          <div class="light-box box-hover">
            <h2><i class="fa fa-map-marker"></i><span>Address</span></h2>
            <p>Hack Reactor</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="light-box box-hover">
            <h2><i class="fa fa-mobile"></i><span>Phone</span></h2>
            <p>123 456 7891</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="light-box box-hover">
            <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
            <p><a href="#">bscookies@bscookies.com</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="social-buttons">
            <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="legals">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Legals</a></li>
          </ul>
        </div>
        <div class="col-md-6 credit">
          <p>Designed &amp; Developed by Team Dr.BeefCake</em></a></p>
        </div>
      </div>
    </div>
  </footer>