<div class="chat-single">
  <div class="nonBodyText">{{sender}}</div>
  <div style="float: left">
    <userpic />
  </div>
  <div class="bubble {{sender==='You'? 'You' : 'notYou'}}">
    <a href="{{body}}" ng-if="type === 'E'">Get a Ride</a>
    <span ng-if="type !== 'E' && !url && !audio && !video " ng-bind-html="body">{{ body }}</span>
    <img ng-if="url" ng-src="{{url}}" style="width:150px; height:150px">
     <video ng-if="video" controls="controls" ng-src="{{video}}" style="width:150px; height:150px" type="video/mp4" > </video>
      <audio ng-src="{{audio}}" type="audio/mpeg" controls="controls" ng-if="audio" >
      </audio>
  </div>
  <div style="float: right" class="nonBodyText">{{date | date: "h:mma 'on' MM/dd/yyyy"}}</div>
</div>