<br>
<div>
  <div class="mui-container-fluid leftHalf">
    <div class="chatBox">
      <div><contactlist></contactlist></div>
      <div>
        <chatlist></chatlist>
        <br>
        <chatform ></chatform>
      </div>
    </div>
  </div>
  <div class="rightHalf">
    <iframe  ng-if="webcam" ng-src="{{ camroom }}" width="240" height="440" frameborder="0" align="right" style="padding-right:1cm" ></iframe>
    <iframe id="leftFrame" ng-src="{{ frame }}" ng-if="frame" sandbox="allow-same-origin allow-scripts" align="left" width="475" height="500" frameborder="0"></iframe>
  </div>
</div>