<br>
<div class="container-fluid">
  <div class="row">


    <div class="chatBox col-md-5">
      <div><contactlist></contactlist></div>
      <div><chatlist></chatlist></div>
      <br>
      <div><chatform ></chatform></div>
    </div>

    <div class="col-md-4">
      <iframe id="leftFrame" ng-src="{{frame}}" sandbox="allow-same-origin allow-scripts" align="right" height="570px" width="100%" top="50px" frameborder="0"></iframe>
    </div>

  <div class="col-md-3" >
    <iframe ng-src="{{ camroom }}" width="100%" height="570px" frameborder="0" align="right" style="padding-right:1cm" ></iframe>
  </div>

  </div>
</div>

</div>